.main{
    text-align: center;
    justify-content: center;
    display: flex;
    background: rgb(12,64,118);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100vh;
    background-color: #e5f0f6;
}
.login-title{
    margin-top: 100px;
}
.logo{
    width: 60%;
    height: 100%;
    /*background-image: url("icons/aaaaa.jpg");*/
    display: flex;
    justify-content: center;
    align-content: center;
}

.image{
    width: 100%;
    height: 100%;
    display: flex;
}

.test{
    width: 60%;
    margin-right: 30px;
}

.title-text{
    color: #4297ec;
    font-size: 30px;
    word-spacing: inherit;
    alignment: center;
    text-decoration: underline;
    font-style: italic;
    font-family: Roboto;
}

.acc-title{
    color: black;
    font-weight: revert;
    font-family: Roboto;
}

.input{
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    font-style: italic;
    font-family: "JetBrains Mono Light";
    font-size: large;
    padding-left: 10px;
    background-color: #e1edf5;
}

.input-wrapper{
    margin-top: 80px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    /*background: red;*/
}
.input-wrapper input{
    width: 100%;
    height: 35px;
}
.username{
    margin-bottom:20px;
}

.password{

}

.button{
    width: 100%;
    height: 100%;
    background-color: #91b7ce;
    display: flex;
    border: none;
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    color: #ffffff;
}

.button-wrapper{
    margin-top: 60px;
    width: 50%;
    height: 40px;
    display: flex;
}

.back-wrapper{
    color: #4297ec;
    padding-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 3rem;
    transition: 0.3s ease all;
    position: relative;
    margin-left: 85%;
    background-color: #e1edf5;
}