.main{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: white;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.statistic-view{
    text-align: center;
    justify-content: center;
    margin: 50px 31px 31px 31px;
    width: 80%;
    background-color: white;
}

.statistic-menu{
    text-align: center;
    justify-content: center;
    width: 20%;
    margin: 0 0 0 0;
    background-color: rgb(12,64,118);
}

.statistic-nav{
    font-size: 30px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 0;
    /* background-color: rgb(12,64,118); */

}

.text{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    line-height: 70px;
    margin: 0 0 0 0;
    font-size: 20px;
    white-space: nowrap;
}

.statistic-button{
    background-color: lightskyblue;
    border: none;
    width: 100%;
}

.text-view{
    display: flex;
    alignment: center;
    color: white;
    margin-bottom: 50px;
}
.main-block{
    width: 100%;
}
.inline-link{
    margin-top: 20px;
}
@media (max-width: 48em) {
    /*.main {*/
    /*    flex-direction: row;*/
    /*    height: 100vh;*/
    /*    width: 100%;*/
    /*}*/

    /*.text {*/
    /*    font-size: medium;*/
    /*    line-height: 30px;*/
    /*}*/

    /*.text-view {*/
    /*    gap: 50px;*/
    /*    margin-bottom: 50px;*/
    /*}*/
}


@media (max-width: 100em) {
    /*.main {*/
    /*    flex-direction: row;*/
    /*    height: 100vh;*/
    /*    width: 100%;*/
    /*}*/

    /*.text {*/
    /*    line-height: 30px;*/
    /*    white-space: normal;*/
    /*}*/

    /*.text-view {*/
    /*    gap: 50px;*/
    /*    margin-bottom: 50px;*/
    /*}*/
}