.main{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: white;
    background-size: cover;
    width: 100%;
}

.statistic-view{
    text-align: center;
    justify-content: center;
    margin: 50px 30px 30px 30px;
    width: 80%;
    background-color: white;
}

.statistic-menu{
    text-align: center;
    justify-content: center;
    width: 20%;
    margin: 0 0 0 0;
    background-color: rgb(12,64,118);
}

.statistic-nav{
    font-size: 30px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 0;
    /* background-color: rgb(12,64,118); */

}

.text{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    line-height: 70px;
    margin: 0 0 0 0;
}

.statistic-button{
    background-color: lightskyblue;
    border: none;
    width: 100%;
}

.text-view{
    display: flex;
    alignment: left;
}
